Django==1.6.5
PyYAML==3.11
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.0
nltk==2.0.4
psycopg2==2.5.3
pygeocoder==1.2.5
requests==2.3.0
static3==0.5.1
tweepy==2.3.0
wsgiref==0.1.2s