body { 
	margin: 0; 
	padding: 0;
	background-color: #F0F0F0 ;
}
#map-canvas {
	height: 450px
}
*
{
  -webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}

.mapInfoWindow {
	width: 260px;
}

#landing {
	height: 100%;
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
}
